/* lora */

@font-face {
  font-family: lora_bold;
  src: url("../assets/Fonts/lora/Lora-Bold.ttf");
}

@font-face {
  font-family: lora_sb;
  src: url("../assets/Fonts/lora/Lora-SemiBold.ttf");
}

@font-face {
  font-family: lora_med;
  src: url("../assets/Fonts/lora/Lora-Medium.ttf");
}

@font-face {
  font-family: lora_reg;
  src: url("../assets/Fonts/lora/Lora-Regular.ttf");
}

.tiptap {
  color: #292524;
  padding: 4px 10px;
  font-family: lora_reg;
  position: relative;

  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-size: 1.02rem;
  }

  &::after {
    content: "";
    display: block;
    height: 50px;
  }

  div[data-youtube-video] {
    cursor: move;
    right: 1.5rem;
    margin: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    iframe {
      border: 1px solid black;
      box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
      border-radius: 1rem;
      display: block;
      outline: 0px solid transparent;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }

    &.ProseMirror-selectednode iframe {
      transition: outline 0.15s;
    }
  }

  :first-child {
    margin-top: 0.3rem;
  }

  /* Default table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    box-shadow: 0 2px 8px rgba(20, 20, 20, 0.1);
    table-layout: auto; /* Allow columns to adjust based on content */
  }

  th,
  td {
    font-family: lora_sb;
    padding: 6px 8px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    vertical-align: top;
  }

  th {
    font-family: lora_bold;
    font-size: 1rem;
    background: #ddd;
  }

  td {
    font-family: lora_reg;
    font-size: 0.85rem;
  }

  th:last-child,
  td:last-child {
    border-right: 1px solid #ccc;
  }

  tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  td:hover {
    background-color: #e9e9e9;
  }

  th:hover {
    background-color: #e5e5e5;
  }

  /* Responsive styles for mobile devices */
  @media (max-width: 500px) {
    .table-container {
      overflow-x: auto; /* Enable horizontal scrolling */
      -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    }

    table {
      min-width: 500px; /* Set a minimum width to prevent squishing */
      width: auto; /* Allow the table to expand beyond the container */
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  img {
    display: inline-block;
    height: auto;
    margin: 2rem;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 2px solid rgba(255, 0, 0, 0.411);
    }
  }

  /* Hide the paragraph if it's empty */
  p:empty::before {
    content: "           "; /* Adds a blank space to ensure the paragraph takes up space */
    visibility: hidden; /* Hides the added content */
  }

  a {
    color: #ec407a;
    font-family: lora_bold;
    cursor: pointer;
    text-decoration: underline 1.5px;
    text-underline-offset: 2px;
    transition: color 0.2s;
    &:hover {
      color: cadetblue;
    }
  }

  mark {
    border-radius: 0.4rem;
    margin: 0.05rem 0.2rem;
    display: inline-block;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }

  hr {
    background: rgba(97, 97, 97, 0.25);
    height: 3px;
    border: none;
    width: 80%;
    margin: 3rem;
    place-self: center;
  }

  blockquote {
    border-left: 4px solid rgba(200, 82, 200);
    color: #292524dd;
    font-size: 0.88rem;
    font-family: lora_med;
    font-style: italic;

    margin: 0.2rem 1rem;
    margin-left: 2.5rem;
    padding-left: 0.6rem;
    width: fit-content;
    max-width: 40%;
  }
  ul[data-type="taskList"] {
    color: #292524;
    list-style: none;
    padding: 0.2rem 0.4rem;
    width: 40%;
    border-radius: 5px;
    margin-left: 0;
    margin-left: 1rem;
    font-family: lora_sb;

    input[type="checkbox"] {
      display: none; /* Hide the default checkbox */
    }

    li {
      color: #292524;
      align-items: center;
      display: flex; /* Flexbox for alignment */
      gap: 0.2rem;

      > label {
        height: fit-content;
        padding: 7px;
        border: 1px solid #a1a1a1;
        border-radius: 3px;
        cursor: pointer;
        position: relative;

        &:hover {
          background-color: #ddd6fe;
        }

        &::after {
          content: "";
          background-image: url("../assets/SVG/check/check.svg");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          position: absolute;
          left: -6px;
          top: -5px;
          opacity: 0;
          width: 185%;
          aspect-ratio: 1;
          filter: brightness(0) saturate(100%) invert(29%) sepia(94%)
            saturate(3274%) hue-rotate(251deg) brightness(91%) contrast(104%);
          transition: opacity 0.2s ease-in-out;
        }
      }

      > div {
        color: #292524;
        flex: 1; /* Allow text to take available space */
        display: flex;
        align-items: center; /* Center align text vertically */
      }

      &[data-checked="true"] label::after {
        opacity: 1;
      }

      &[data-checked="true"] div p {
        text-decoration: rgba(136, 8, 8, 0.8) line-through;
        text-decoration-thickness: 2px;
        animation: strikethrough 0.3s ease-in-out;
        -webkit-animation: strikethrough 0.3s ease-in-out;
      }
    }
  }

  @keyframes strikethrough {
    from {
      text-decoration-color: transparent;
    }
    to {
      text-decoration-color: rgb(136, 8, 8);
    }
  }

  pre {
    background: #292524;
    border-radius: 0.5rem;
    color: white;
    font-family: monospace;
    margin: 0.7rem 0 0.7rem 4rem;
    padding: 0.75rem 1rem;
    max-width: 50%;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  strong {
    font-family: lora_bold;
  }
  /* List styles */
  ul,
  ol {
    counter-reset: item-counter;
    li p {
      margin: 0.1rem;
      color: #292524;
    }
    li {
      display: flex;
      align-items: end;
    }
  }

  ul:not([data-type="taskList"]) li::before {
    content: "•";
    font-size: 1rem;
    margin-left: 2.5rem;
    margin-right: 0.3rem;
    line-height: 1.7rem;
    color: #585756b6;
    font-family: lora_bold;
  }

  ol li::before {
    counter-increment: item-counter;
    content: counter(item-counter) ". ";
    margin-left: 2.5rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #585756b6;
    font-family: lora_sb;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin: 0.5rem;
    text-wrap: pretty;
  }

  h1 {
    font-size: 2.8rem;
    font-family: lora_bold;
  }

  h2 {
    font-size: 2.3rem;
    font-family: lora_reg;
  }

  h3 {
    font-size: 1.9rem;
    font-family: lora_reg;
  }

  h4 {
    font-size: 1.6rem;
    font-family: lora_sb;
  }

  h5 {
    font-size: 1.3rem;
    font-family: lora_sb;
  }

  h6 {
    font-size: 1.1rem;
    font-family: lora_med;
  }

  p {
    margin: 0 0.5rem;
  }
}

.editor-container {
  display: flex;

  height: 100vh;
  background-color: #f9f9f9;
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #333;
  padding: 10px;
  width: 60px;
}

.toolbar-button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: #444;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.toolbar-button:hover {
  background-color: #555;
}
